

/* ------------------ Home Wrapper ------------------ > */

.home-wrapper {
  background-color: #1e143b;
  border-radius: 8px;
  margin-top: 2rem;
  padding-bottom: 10rem;
}

/* <----------------------------------- Hero Section -----------------------------------> */
.hero-container {
  position: relative; 
  padding-top: 10rem;
  padding-left: 8rem;
  min-height: 85vh;
  color: #fff; 
  z-index: 1; 
  margin-bottom: 6rem;
}

.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/heroBg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; 
  z-index: -1; 
}

.hero-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.hero-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 4rem;
}

.main-body-content {
  color: #fff;
  width: 50%;
}

.main-body-header h1 {
  margin-bottom: 1rem;
}

.main-body-header h1 span {
  color: #FE0094;
}

/* ------------------ Media Querry ------------------ > */

@media (max-width: 1440px) {
  .hero-container {
    min-height: 95vh;
  }
}

@media (max-width: 1024px) {
  .hero-title{
    margin-bottom: 1rem;
  }

  .main-body-header h1{
    line-height: 70px;
  }

  .main-body-content {
    width: 70%;
  }
}

@media (max-width: 850px) {
  .hero-container {
    padding-left: 6rem;
  }
}

@media (max-width: 830px) {
  .hero-container {
    padding-left: 5.5rem;
  }
}

@media (max-width: 768px) {
  .hero-container {
    padding-top: 12rem;
   min-height: 85vh;
  }
  .main-body-header h1{
    line-height: 50px;
  }

  .hero-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 750px) {
  .hero-container {
    padding-left: 5.5rem;
  }
  .main-body-content {
    width: 90%;
  }
}

@media (max-width: 650px) {
  @keyframes drawLine {
    from {
      width: 0;
    }
    to {
      width: 300px; /* Width to fit the text */
    }
  }

}

@media (max-width: 600px) {
  .title-line {
    height: 2.5rem;

  }
  .hero-title {
    font-size: 1.3rem;
  }
}
@media (max-width: 560px) {
  .main-body-header h1 {
    font-size: 3rem;
    line-height: 40px;
  }
  .hero-container {
    padding-top: 10rem;
    height: 60vh;
  }
}

@media (max-width: 500px) {
  .hero-container {
    padding-left: 4rem;
  }
  .hero-title {
    margin-bottom: 2rem;
  }
  .main-body-header{
    margin-bottom: 1rem;
  }
  .main-body-header h1 {
    font-size: 3rem;
    line-height: 30px;
  }
  .hero-body{
    margin-bottom: 3rem;
  }
  .main-body-content {
    width: 93%;
  }
}

@media (max-width: 485px) {
  .main-body-header h1 {
    font-size: 2.7rem;
  }

  .hero-container {
    height: 75vh;
  }
}

@media (max-width: 420px) {
  .main-body-header h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  .hero-container {
    min-height: 40vh;
    padding-top: 8rem;
  }
  
  .main-body-header h1 {
    font-size: 2.8rem;
  }

  .hero-title p {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .title-line {
    height: 2rem;
  }
  .main-body-content {
    width: 100%;
  }
}

@media (max-width: 370px) {
  .hero-container {
    padding-left: 2rem;
  }
  .main-body-header :nth-child(2) br {
    display: block !important;
  }
  /* .main-body-header :nth-child(2) :nth-child(1) {
    margin-bottom: 1rem;
    display: inline-block;
  } */
  .main-body-content {
    width: 99%;
  }
  .hero-title p {
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

}

