

.quention__box {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}

.question__content {
    width: 48.55%;
}

.questions {
    width: 100%;
}

.questions p:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #F107D7;
    border-radius: 1px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.questions p img {
    background-color: #F107D7 ;
    object-fit: cover;
    padding: 1.2rem;
    border-radius: 5px;
    height: 35px;
    width: 35px;
}

.answer__description {
    max-height: 0; /* Initially hidden */
    opacity: 0; /* Initially hidden */
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out; /* Apply transition */
}

.answer__description.show {
    max-height: 500px; /* Set to a value large enough to accommodate the content */
    opacity: 1; /* Fully visible */
}
