

.quention__box {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}

.question__content {
    width: 48.55%;
}

.questions {
    width: 100%;
    border-bottom: 1px solid #F107D7;
    margin-bottom: 2rem;
}

.questions :first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 1px;
    padding-bottom: 1rem;
}

.questions img {
    background-color: #F107D7 ;
    object-fit: cover;
    padding: 1.2rem;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.answer__description {
    max-height: 0;
    opacity: 0; 
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out; /* Apply transition */
    
}

.answer__description.show {
    max-height: 500px; /* Set to a value large enough to accommodate the content */
    opacity: 1; /* Fully visible */
    padding-bottom: 1rem;
}

@media  (max-width: 1024px) {
    .choose-header {
        padding: 1rem;
    }
    
}

@media (max-width:850px) {
    
    .quention__box {
        flex-direction: column;
    }

    .question__content {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .questions :first-child p{
        width: 90%;
    }
}

@media (max-width: 500px) {
    .questions :first-child p{
        width: 80%;
    }
    .choose-header h2 {
        font-size: 3.5rem;
    }
    
}

@media (max-width: 450px) {
    .choose-header h2 {
        font-size: 3rem;
    }
}