/* ======================================== Navbar CSS ======================================= */

.nav__bar {
    display: flex;
    align-items: center;
    background-color: #0c0e2b;
    margin-top: 2rem !important;
}

.nav__logo {
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 13vh;
    padding-left: 4rem;
    width: 30%;
    clip-path: polygon(0 0, 90% 0, 70% 100%, 0% 100%);
    background: #1e143b;
}

.nav__logo img {
    width: 180px;
    object-fit: cover;
    cursor: pointer;
}

.nav__item {
    clip-path: polygon(7.5% 0, 100% 0, 100% 100%, 0% 100%);
    width: 80%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    height: 13vh;
    background: #1e143b;
    justify-content: space-around;
    margin-left: -9rem;
    padding-left: 8rem;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 10rem;
    height: 100%;
}

.nav-link {
    font-size: 1.8rem;
    color: #fff;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: rgba(254, 0, 148, 0.7);
}

/*==================== Mobile Menu ====================*/
.nav__item-v,
.hamburger {
    display: none;
}

.hamburger {
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
    width: 70%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    height: 13vh;
    background: #1e143b;
    justify-content: flex-end;
    padding-right: 4rem;
    margin-left: -8rem;
}

.hamburger img {
    width: 80px;
    cursor: pointer;
}

.hamburger-cross {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 6%;
}

.nav__item-v {
    font-family: "Caveat", cursive;
    position: fixed;
    left: 0;
    top: -200%;
    padding: 4rem 0 0 8rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    width: 100%;
    z-index: 9999;
    height: 100%;
    background-color: rgba(30, 20, 59);
    transition: top 0.5s ease-in-out;
}

.nav__item-v .logo {
    width: 200px;
}

.nav__item-v .logo img {
    width: 100%;
    height: 100%;
}

.nav__item--open {
    top: 0;
}

.navLink {
    display: inline-flex;
    align-items: center;
    column-gap: 2rem;
    color: #fff;
    width: 40%;
}

.navLink .Number {
    font-size: 4rem;
}

.navLink .link {
    font-size: 4rem;
}

.navLink .navitem_line {
    display: block;
    height: 3px;
    background-color: #F107D7;
    border-radius: 10px;
    width: 0%;
    transition: width 0.4s ease-in-out;
}

.navLink:hover .navitem_line {
    width: 10%;
}

.navLink:hover .link,
.navLink:hover .Number {
    color: #F107D7;
}

/* <==================== Services Bar ====================> */
.dropdown-menu {
    height: 100vh;
    width: max(400px, 25%);
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 0;
    background-color: #1e143b;
    transition: all 0.7s ease-in-out;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding: 8rem 0 0 7rem;
    z-index: 9999;
}


.dropdown-menu .side__nav__logo img {
    width: 200px;
    object-fit: cover;
    cursor: pointer;
}

.dropdown-menu li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
}

.dropdown-menu li .Diamond__Style {
    color: #F107D7;
    font-size: 15px;
}

.dropdown-menu li a {
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    padding: 0.9rem;
}

.arrow-icon {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    opacity: 0; 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dropdown-menu .service-link:hover + .arrow-icon {
    opacity: 1; 
    transform: translateX(10px);
    color: #F107D7;
}

/* ======================================== Media Queries ======================================== */
@media (max-width: 1370px) {
    .nav__links {
        gap: 6rem;
    }

    .nav__item {
        margin-left: -7rem;
    }
}

@media (max-width: 1250px) {
    .nav__links {
        gap: 4rem;
    }

    .nav__logo img {
        width: 160px;
    }
}

@media (max-width: 1100px) {
    .nav__links {
        gap: 3rem;
    }

    .nav-link {
        font-size: 1.6rem;
    }

    .nav__item {
        margin-left: -6rem;
        padding-left: 5rem;
    }

    .nav__logo img {
        width: 150px;
    }
}

@media (max-width: 1024px) {
    .nav__logo {
        padding-left: 2.5rem;
    }

    .nav__logo img {
        width: 130px;
    }
}

@media (max-width: 1000px) {
    .nav__item {
        margin-left: -6rem;
    }
}

@media (max-width: 920px) {
    .nav__item {
        display: none;
    }

    .nav__item-v,
    .hamburger {
        display: flex;
    }

    .nav__logo {
        width: 45%;
        padding-left: 4rem;
    }

    .nav__logo img {
        width: 160px;
    }
}

@media (max-width: 798px) {
    .hamburger {
        margin-left: -7rem;
    }

    .hamburger img {
        width: 70px;
    }

    .nav__logo img {
        width: 140px;
    }
}

@media (max-width: 720px) {
    .hamburger {
        margin-left: -6rem;
    }
}

@media (max-width: 680px) {
    .nav__logo img {
        width: 130px;
    }

    .hamburger img {
        width: 60px;
    }

    .navLink {
        width: 50%;
    }
}

@media (max-width: 620px) {
    .hamburger {
        margin-left: -5rem;
    }

    .nav__logo {
        padding-left: 2.5rem;
    }
}

@media (max-width: 550px) {
    .hamburger {
        clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
    }

    .nav__logo {
        width: 60%;
    }

    .navLink {
        width: 70%;
    }
}

@media (max-width: 520px) {
    .hamburger {
        margin-left: -8rem;
        clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%);
        width: 40%;
    }

    .nav__logo {
        width: 80%;
    }
}

@media (max-width: 460px) {
    .hamburger {
        margin-left: -7rem;
        padding-right: 1rem;
        height: 10vh;
    }

    .nav__logo {
        height: 10vh;
    }

    .nav__item-v .logo {
        width: 160px;
    }

    .navLink {
        width: 80%;
        column-gap: 1rem;
    }

    .navLink .Number,
    .navLink .link {
        font-size: 3rem;
    }

    .hamburger-cross {
        width: 35px;
        height: 35px;
        right: 6%;
    }

    .dropdown-menu .side__nav__logo img {
        width: 175px;
    }

    .dropdown-menu {
        row-gap: 4rem;
        padding: 5.5rem 0 0 4rem;
        width: min(430px, 80%);
    }

    .dropdown-menu li a {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .hamburger {
        margin-left: -6rem;
        padding-right: 1rem;
    }
    .service-link {
        font-size: 1.4rem !important;
    }
    .Diamond__Style{
        font-size: 13px !important;
    }
    .arrow-icon {
        font-size: 17px;
        margin-left: -1rem;
    }
}

@media (max-width: 370px){
    .dropdown-menu{
        width: 85%;
    }
}

@media (max-width: 360px) {
    .nav__logo {
        width: 90%;
    }

    .nav__logo img {
        width: 100px;
    }

    .hamburger {
        margin-left: -5rem;
        clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
    }

    .nav__item-v {
        padding: 4rem 0 0 4rem;
    }
   
}

@media (max-width: 345px){
    .dropdown-menu{
        width: 90%;
    }
}
