.f-service-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  row-gap: 3rem;
  margin: 4rem 0;
  background-attachment: fixed;
  position: relative;
  height: 70vh;
}

.f-service-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.f-service-wrapper {
  padding: 6rem;
  border-radius: 2rem;
  z-index: 9;
  margin-bottom: 4rem;
  width: 80%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.f-service-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}



.f-service-header h2 {
  text-transform: capitalize;
}

.service-intro-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline: 4rem;
}

.service-intro-content {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 46%;
}

.service-intro-section .service-intro-wrapper-1,
.service-intro-section .service-intro-wrapper-2 {
  font-size: 2rem;
}


.service-intro-list {
  padding-left: 2rem;
}

.service-intro-list li {
  list-style: disc;
  font-size: 2rem;
  color: #6D1299;
  margin-bottom: 1rem;
}

.service-intro-wrapper-1 {
  color: #6D1299;
}

.service-intro-section .service-intro-image {
  width: 50%;
  border-radius: 2rem;
  object-fit: cover;
}

.service-intro-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.service-technology-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

}

.service-technology-content {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  position: relative;
  width: 60%;
}

.service-technology-image {
  width: 30%;
  height: 100%;
  object-fit: contain;
  margin-left: -8rem;
  margin-top: -4rem;
}

.service-technology-content :nth-child(1) {
  font-size: 9rem;
  line-height: 100px;
  position: relative;
  z-index: 99;
  font-weight: 600;
}

.service-technology-content :nth-child(1)::before {
  content: "";
  display: block;
  position: absolute;
  left: -1%;
  top: 35%;
  width: 50px;
  height: 50px;
  border: 10px solid #fe0094;
  z-index: -1;
  animation: moveUpDown1 2s ease-in-out infinite;
}

.about-service-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 9rem;
  background-image: linear-gradient(rgba(30, 20, 59, 0.7),
      rgba(30, 20, 59, 0.7)),
    url("../../assets/service-bg-image.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 8rem;
  z-index: 1;
}

.about-service-img {
  width: 45%;
  object-fit: cover;
  box-shadow: -60px 60px 0px rgb(110, 18, 153, 0.4);
}

.about-service-content {
  width: 46%;
}

.about-service-content :nth-child(1) {
  margin-bottom: 3rem;
  font-size: 3.3rem;
  letter-spacing: 1px;
}

.about-service-content :nth-child(2) {
  position: relative;
}

.about-service-content :nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  right: 0%;
  bottom: -15%;
  width: 40px;
  height: 40px;
  border: 10px solid rgb(254, 0, 148);
  z-index: -1;
  animation: moveUpDown2 2s ease-in-out infinite;
}

/* .work-wrapper {
  margin-top: 8rem;
  min-height: 500px;
}

.work-wrapper-content {
  width: 45%;
  padding: 3rem;
}

.work-wrapper-content h1 {
  font-size: 8rem;
  margin-bottom: 1rem;
}

.project-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.read-more-btn {
  color: #6e1299;
  font-size: 1.5rem;
}

.project-images-swiper {
  max-width: 650px;
  height: 400px;
}

.swiper-image {
  object-fit: cover;
}

.work-wrapper-images {
  width: 50%;
  position: relative;
}

.work-wrapper-images img {
  width: 100%;
  object-fit: cover;
}

.text-outline {
  -webkit-text-stroke: 3px rgb(110, 18, 153);
  color: transparent;
}

.work-wrapper-content h2 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.tech-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}

.tech-div p {
  font-size: 2rem;
  color: #fe0094;
  letter-spacing: 1px;
}

.work-wrapper {
  position: relative;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2.3rem !important;
}

.swiper-button-prev {
  position: absolute;
  top: 90% !important;
  left: 82% !important;
}

.swiper-button-next {
  position: absolute;
  top: 90% !important;
  right: 8% !important;
}

.swiper-button-prev,
.swiper-button-next {
  background: linear-gradient(90deg, #00229e 0%, #6e1299 47.92%, #fe0094 100%);
  color: #fff !important;
  height: 50px !important;
  width: 50px !important;
}

.inner-swiper-button-prev {
  position: absolute;
  top: 40%;
  z-index: 1;
  left: -3%;
}

.inner-swiper-button-next {
  position: absolute;
  top: 40%;
  z-index: 1;
  right: -3%;
}

.inner-swiper-button-prev .bx,
.inner-swiper-button-next .bx {
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}

.image-nav {
  display: flex;
  gap: 1rem;
} */

.service-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 10rem;
  margin-top: 8rem;
}

.about-service-wrapper {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2), -1px -1px 15px rgba(0, 0, 0, 0.2);
  width: 85%;
  position: relative;
}

.about-service-inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
  padding: 6rem;
  position: relative;
}

.about-service-wrapper::before,
.about-service-wrapper::after,
.about-service-inner-wrapper::after,
.about-service-inner-wrapper::before {
  content: "";
  position: absolute;
  background-color: #6D1299;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.about-service-wrapper::before {
  width: 0;
  height: 4px;
  top: 0;
  left: 0;
  animation: expandWidth 2s infinite;
}

.about-service-wrapper::after {
  width: 4px;
  height: 0;
  top: 0;
  left: 0;
  animation: expandHeight 2s infinite;
}

.about-service-inner-wrapper::before {
  width: 0;
  height: 4px;
  bottom: 0;
  right: 0;
  animation: expandWidth 2s infinite;
}

.about-service-wrapper .about-service-inner-wrapper::after {
  width: 4px;
  height: 0;
  bottom: 0;
  right: 0;
  animation: expandHeight 2s infinite;
}

.about-service-wrapper .about-service-inner-wrapper :nth-child(1) {
  letter-spacing: 2px;
  text-align: center;
  text-transform: capitalize;
}

.about-service-inner-wrapper :nth-child(2) {
  text-align: center;
}

.service-offer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}

.wrapper-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  width: 60%;
}

.service-offer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 4rem 5rem 8rem 5rem;
}

.services-offer-content {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  padding: 0 3rem;
  width: 32%;
  max-width: 350px;
  padding-block: 3rem;
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.services-offer-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.services-offer-content:hover::before {
  backdrop-filter: blur(10px);
}

.services-offer-content:hover .service-image {
  transform: scale(1.2);
}

.services-offer-inner {
  min-height: 40vh;
  margin: 2rem 0;
  position: relative;
  z-index: 9;
}

.services-offer-inner p {
  transform: translateX(150%);
  transition: transform 0.4s ease-in-out;
  position: relative;
  font-size: 1.6rem;
  line-height: 25px;
}

.services-offer-content:hover .services-offer-inner p {
  transform: translateX(0);
}

.services-offer-content h4 {
  font-size: 2.5rem;
  align-self: self-start;
  font-weight: 700;
  position: relative;
  z-index: 9;
}


/* ------------------ Animation ------------------ > */
@keyframes expandHeight {

  0%,
  100% {
    height: 0;
  }

  50% {
    height: 40%;
  }
}

@keyframes expandWidth {

  0%,
  100% {
    width: 0;
  }

  50% {
    width: 30%;
  }
}

@keyframes moveUpDown1 {
  0% {
    top: 35%;
  }

  50% {
    top: 27%;
  }

  100% {
    top: 35%;
  }
}

@keyframes moveUpDown2 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* ------------------ Tech Logos ------------------ */

/* Main Container */
.logo-container {
  flex-direction: column;
  padding: 10rem;
}

.all-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.skill-icon {
  font-size: 5rem;
  padding: 2rem;
  transition: all 0.5s ease;
  position: relative;
  border-radius: 8px;
  border: 3px solid #b56fd6;
  color: #b56fd6;
}

.skill-icon:hover {
  border: 3px solid #6e1299;
  color: #6e1299;
  scale: 1.05;

}

/* ------------------ Media Querry ------------------ > */

@media (max-width: 1300px) {
  .about-service-section {
    padding: 5rem 2rem 9rem 9rem;
  }

  .service-offer {
    justify-content: center;
    gap: 2rem;
    padding: 4rem 0 8rem 0rem;
  }

  .services-offer-content {
    width: 45%;
  }

  .services-offer-inner {
    min-height: 45vh;
  }

  .services-offer-inner p {
    font-size: 1.5rem;
    line-height: 25px;
  }
}

@media (max-width: 1200px) {
  .wrapper-inner {
    width: 80%;
  }
}

@media (max-width: 1030px) {
  /* .project-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    padding: 3rem 6rem;
    row-gap: 3rem;
  } */

  .service-intro-section {
    flex-direction: column;
    row-gap: 2rem;
  }

  .service-intro-content,
  .service-intro-section .service-intro-image {
    width: 100%;
  }

  .about-service-section {
    padding: 5rem;
    flex-direction: column-reverse;
    row-gap: 3rem;
  }

  .about-service-img {
    width: 100%;
    height: 300px;
    width: 450px;
    margin-left: 6rem;
    margin-bottom: 5rem;
    box-shadow: -40px 40px 0px rgb(110, 18, 153, 0.4);
  }

  .about-service-content {
    width: 100%;
    padding: 0 1rem;
  }

  .about-service-content h3 {
    font-size: 3rem !important;
  }

  .about-service-wrapper {
    width: 95%;
  }

  .about-service-inner-wrapper {
    padding: 5rem 3.5rem;
  }

  /* .work-wrapper-content {
    width: 100%;
    padding: 0;
  }

  .work-wrapper-images {
    width: 100%;
  }

  .swiper-button-prev {
    top: 100% !important;
    left: 70% !important;
  }

  .swiper-button-next {
    top: 100% !important;
    right: 10% !important;
  }

  .inner-swiper-button-next {
    right: -5%;
  }

  .inner-swiper-button-prev {
    left: -5%;
  }*/
}

@media (max-width: 900px) {

  .wrapper-inner,
  .f-service-wrapper {
    width: 90%;
  }

  .wrapper-inner h2 {
    font-size: 4.5rem;
  }

  .service-technology-section {
    flex-direction: column;
    position: relative;
  }

  .service-technology-content {
    padding: 0 5rem;
    width: 100%;
  }

  .service-technology-content :nth-child(1)::before {
    left: -3%;
    width: 40px;
    height: 40px;
  }

  @keyframes moveUpDown1 {
    0% {
      top: 20%;
    }

    50% {
      top: 12%;
    }

    100% {
      top: 20%;
    }
  }

  .service-technology-content p {
    font-size: 1.5rem;
  }

  .service-technology-image {
    position: absolute;
    top: -3rem;
    right: -2rem;
    width: 40%;
  }

  .logo-container {
    padding: 3rem;
  }
}

@media (max-width: 835px) {
  .service-technology-content {
    margin-left: 0%;
  }

  .about-service-content :nth-child(2)::afteR {
    display: none;
  }
}

@media (max-width:775px) {
  .services-offer-inner {
    min-height: 45vh;
  }

  .wrapper-inner {
    width: 100%;
    padding: 0 1rem;
    gap: 2rem;
  }

  .wrapper-inner h2 {
    font-size: 4rem;
    line-height: 50px;
  }
}

@media (max-width:700px) {
  .service-technology-content :nth-child(1) {
    font-size: 7rem;
    line-height: 85px;
  }

  .service-intro-section .service-intro-wrapper-2 {
    font-size: 1.7rem;
  }

  .service-technology-content :nth-child(1)::before {
    left: -1%;
    width: 30px;
    height: 30px;
    border: 7px solid #fe0094;
  }

  .service-technology-image {
    top: -6rem;
    width: 50%;
  }

  /* .work-wrapper-content {
    margin-top: -8rem;
  }

  .inner-swiper-button-next {
    top: 30%;
    right: -6%;
  }

  .inner-swiper-button-prev {
    top: 30%;
    left: -6%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    height: 40px !important;
    width: 40px !important;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 1.7rem !important;
  } */
}

@media (max-width: 650px) {
  .f-service-wrapper {
    padding: 5rem;
  }

  .f-service-wrapper h2 {
    font-size: 4rem;
  }

  .services-offer-content {
    width: 100%;
  }

  .service-offer {
    gap: 4rem;
  }
}

@media (max-width: 600px) {
  /* .work-wrapper-content {
    margin-top: -13rem;
  } */

  .wrapper-inner h2 {
    font-size: 3.5rem;
    line-height: 40px;
  }
}

@media (max-width: 550px) {
  .f-service-wrapper {
    padding: 4rem;
  }

  .f-service-wrapper h2 {
    font-size: 3.5rem;
  }.services-offer-inner {
    min-height: 35vh;
}

  .service-technology-content {
    row-gap: 2rem;
  }

  .service-intro-section {
    padding-inline: 3rem;
  }

  .service-technology-content h1 {
    font-size: 6rem !important;
    line-height: 80px !important;
  }

  .service-technology-image {
    top: -6rem;
    width: 60%;
  }

  .service-technology-content :nth-child(1)::before {
    left: 0%;
    width: 25px;
    height: 25px;
    border: 5px solid #fe0094;
  }

  .about-service-section {
    padding: 3rem;
  }

  .about-service-img {
    margin-left: 0rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 0px rgb(110, 18, 153, 0.4);
  }

  .about-service-content :nth-child(1) {
    margin-bottom: 1rem;
  }

  .about-service-content :nth-child(2)::after {
    width: 30px;
    height: 30px;
    border: 7px solid rgb(254, 0, 148);
  }

  /* .project-wrapper {
    padding: 3rem 3rem;
  }

  .work-wrapper-content h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }

  .work-wrapper-content h2 {
    font-size: 3.5rem;

    line-height: 50px;
  } */

  .swiper-button-prev {
    left: 65% !important;
  }

  .inner-swiper-button-next {
    top: 25%;
    right: -6%;
  }

  .inner-swiper-button-prev {
    top: 25%;
    left: -6%;
  }

  /* .work-wrapper-content {
    margin-top: -15rem;
    margin-bottom: 2rem;
  } */

  .about-service-wrapper .about-service-inner-wrapper :nth-child(1) {
    font-size: 3.5rem;
    line-height: 50px;
  }

  .about-service-inner-wrapper {
    padding: 4rem 3rem;
  }

  .about-service-content :nth-child(2)::after {
    display: none;
  }

  .skill-icon {
    font-size: 3rem;
    padding: 1.5rem;

  }

  .all-logos {
    gap: 3.5rem;
  }

  .logo-container {
    padding: 2rem;
  }
}

@media (max-width: 470px) {
  .service-technology-content :nth-child(1)::before {
    display: none;
  }

  .f-service-header h2 {
    font-size: 3rem;
  }

  .f-service-header p {
    font-size: 1.5rem;
  }

  .service-technology-content {
    padding: 0 2rem;
  }

  .service-intro-section {
    padding-inline: 2rem;
  }

  .wrapper-inner h2 {
    font-size: 3.5rem;
  }

  .service-technology-content h1 {
    font-size: 4.5rem !important;
    line-height: 65px !important;
  }

  .about-service-section {
    padding: 2rem;
    row-gap: 2rem;
  }

  .about-service-content {
    padding: 0;
  }

  .about-service-content h3 {
    font-size: 2.5rem !important;
  }

  .about-service-wrapper .about-service-inner-wrapper :nth-child(1) {
    font-size: 3.5rem;
    line-height: 50px;
  }

  .about-service-inner-wrapper {
    padding: 4rem 2rem;
  }

  /* .work-wrapper-content {
    margin-top: -20rem;
  }

  .project-wrapper {
    padding: 3rem 2rem;
  }

  .work-wrapper-content h2 {
    font-size: 2.5rem;
  }

  .work-wrapper-content p {
    font-size: 1.5rem;
  }

  .work-wrapper-content h1 {
    font-size: 5rem;
  } */

  .service-technology-image {
    top: 7.5rem;
    width: 45%;
  }

  .logo-container {
    padding: 1rem;
  }

  .swiper-button-prev {
    left: 55% !important;
  }
}

@media (max-width:440px) {
  .wrapper-inner h2 {
    font-size: 3.3rem;
}
  .services-offer-content {
    max-width: 320px;
  }
}

@media (max-width:400px) {
  .f-service-wrapper h2 {
    line-height: 40px;
  }
  .wrapper-inner h2 {
    font-size: 3git rem;
}
  .service-technology-image {
    top: -1.5rem;
    width: 55%;
  }
}

@media (max-width: 375px) {
  .services-offer-inner {
    min-height: 30vh;
    }
  .service-technology-content h1 {
    font-size: 4rem !important;
    line-height: 50px !important;
  }

  .services-offer-content {
    max-width: 280px;
  }
  .wrapper-inner h2 {
    font-size: 2.7rem;
}
  .service-technology-image {
    top: -4rem;
    width: 60%;
  }

  /* .work-wrapper-content {
    margin-top: -25rem;
  } */

  .logo-container {
    padding: 0.5rem;
  }

  .logo-container h2 {
    font-size: 3.5rem;
  }

  .skill-icon {
    font-size: 4rem;
    padding: 1.5rem;
  }
}