/* ----------------------- Main Footer Container ----------------------- */

.footer-container {
    padding: 4rem 0;
    margin-top: 20rem;
}

.footer-upper {
    font-family: "Playfair Display", serif;
    background-color: #6E1299;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 8rem;
    width: 100%;
    border-radius: 16px;
    margin-top: -15rem;
    column-gap: 2rem;
}

.footer-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.footer-lower i {
    font-size: 2rem;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 50%;
    background-color: #0c0e2b;
    width: 40px;
    /* Increased size */
    height: 40px;
    /* Increased size */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-lower i:hover {
    background-color: #FFF;
    color: #0c0e2b;
}

.footer-upper-1,
.footer-upper-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    width: 100%;
    max-width: 250px;
    text-align: left;
}

.footer-upper-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 200px;
}

.footer-upper-1 h4,
.footer-upper-3 h4 {
    letter-spacing: 0.1rem;
}

.footer-upper-2 img {
    width: 100%;
    object-fit: cover;
}

.footer-upper-3-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.footer-upper-3-wrapper>p {
    font-size: 1.7rem;
    letter-spacing: 1px;
}

.footer-upper-3-wrapper>a>i {
    font-size: 3rem;
    color: #0c0e2b;
}

@media screen and (max-width: 1440px) {
    .footer-bottom-1 {
        clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%) !important;
        width: 80% !important;
    }

    .footer-bottom-2 {
        clip-path: polygon(21% 0, 100% 0%, 100% 100%, 0 100%) !important;
        width: 25% !important;
    }

    .footer-bottom-2 p {
        margin-left: 4rem;
    }

}

@media (max-width: 1024px) {
    .footer-bottom p {
        font-size: 1.8rem !important;
    }

    .footer-bottom-1 {
        clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%) !important;
        width: 74% !important;
    }

    .footer-bottom-2 {
        clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%) !important;
        width: 30% !important;
    }

    .footer-upper {
        margin-top: -15rem;
        row-gap: 2rem;
    }

    .footer-upper-2 {
        max-width: 180px;
    }
}

@media (max-width:900px) {
    .footer-bottom-1 p {
        margin-left: -3rem;
    }

    .footer-bottom-2 p {
        margin-left: 3rem;
        text-align: center;
    }
}

.footer-main {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-1 {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.footer ul {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer ul li {
    color: white;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    transition: all 0.2s ease;
    font-size: 1.7rem;
}

.footer h3 {
    color: #F107D7;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 3rem;
    column-gap: 1.5rem;
    margin: 2.5rem 0;
}

.footer h3 .about-line {
    border-radius: 8px;
    height: 3px;
    width: 40px;
    background: linear-gradient(90deg, #00229E 0%, #6E1299 47.92%, #FE0094 100%);
}

.footer-2 ul li:hover {
    scale: 1.01;
}

.footer-4 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.footer-2 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.footer ul li i {
    color: #6E1299;

}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-bottom p {
    font-size: 20px;
    color: #FFF;
    font-weight: 500;
}

.footer-bottom-2 a {
    display: inline-block;
    font-size: 20px;
}

.footer-bottom-1 {
    background-color: #0c0e2b;
    clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom-2 {
    background: linear-gradient(90deg, #00229E 0%, #6E1299 47.92%, #FE0094 100%);
    clip-path: polygon(13% 0, 100% 0%, 100% 100%, 0 100%);
    width: 40%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
}

@media (max-width:850px) {
    .footer-container {
        padding: 4rem;
    }

    .footer-main {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .footer-upper {
        row-gap: 5rem;
    }

    .footer {
        width: 100%;

    }

    .footer-upper-1,
    .footer-upper-3,
    .footer-upper-2 {
        width: 100%;
    }

    .footer-upper-1 {
        margin-bottom: -4rem;
    }

    .footer-upper-3 {
        margin-top: -4rem;
    }

}


@media (max-width: 768px) {
    .footer-container {
        padding: 2rem;
    }

    .footer-upper {
        flex-direction: column;
        row-gap: 2rem;
        padding: 4rem 1rem;
        align-items: center;
    }

    .footer-lower i {
        font-size: 1.6rem;
        width: 35px;
        height: 35px;
    }



    .footer-bottom-1 {
        width: 90% !important;
        clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%) !important;
    }

    .footer-bottom-2 {
        width: 45% !important;
        clip-path: polygon(26% 0, 100% 0%, 100% 100%, 0 100%) !important;
    }

    .footer-bottom p {
        font-size: 1.5rem !important;
        padding: 0 3.5rem;
        text-align: center;
        margin-left: -4rem;
    }

    .footer-bottom-2 p {
        padding: 0 3rem;
        margin-left: 5rem;
        text-align: center;
    }

}

@media(max-width:650px) {

    .footer-bottom-1 p {
        padding: 0 5rem;
        margin-left: -5rem;
    }

    .footer-bottom-1 {
        width: 90% !important;
        clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%) !important;
    }

    .footer-bottom-2 {
        width: 45% !important;
        clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0 100%) !important;
    }

}

@media (max-width:550px) {
    .footer-container {
        padding: 1rem;
    }
    .footer-bottom-1 {
        width: 75% !important;
        clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%) !important;
    }

    .footer-bottom-2 {
        width: 37% !important;
        clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0 100%) !important;
    }

    .footer-bottom-1 p {
        padding: 0 5rem;
        margin-left: -4.5rem;
    }
}

@media (max-width:500px) {
    .footer-container {
        margin-top: 25rem;
    }
    .footer-upper {
        margin-top: -20rem;
        padding: 5rem 0rem;
    }
    .footer-upper-1 {
        margin-bottom: -7rem;
    }
    .footer-upper-3 {
        margin-top: -6rem;
    }

    .footer-upper-2 {
        max-width: 160px;
    }

    .footer-main {
        flex-direction: column;
        row-gap: 1rem;
        margin-bottom: 2rem;
    }

    .footer {
        width: 100%;
        align-items: normal;
        row-gap: 1rem;
    }

    .footer-1 p {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 25px;
    }

    .footer h3 {
        font-size: 2.7rem;
        margin: 0;
    }

    .footer ul li {
        font-size: 1.5rem;
    }

    footer h3 .about-line {
        height: 2px;
    }

    .footer-bottom p {
        font-size: 1.3rem !important;
        line-height: 25px;
    }

    .footer-bottom-2 a {
        font-size: 12px;
        padding-left: 1.5rem;
    }

    .footer-bottom-1 {
        height: 80px;
        padding: 2.2rem;
        width: 70% !important;
        text-align: center;
        clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%) !important;
    }

    .footer-bottom-2 {
        clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%) !important;
        height: 70px;
        width: 40% !important;
    }

    .footer-bottom-1 p {
        margin-left: -2.5rem;
        padding: 0 1rem;
    }

    .footer-bottom-2 p {
        margin-left: 4rem;
        /* padding: 0 4rem; */
        text-align: center;
    }

    .footer-lower {
        margin: 1rem 0;
    }


}

@media only screen and (max-width: 400px) {
    .footer-upper-3 h4 {
      line-height: 20px;
    }
    .footer-lower {
        margin-top: 0;
    }
    .footer-bottom-2 p {
        margin-left: 3.5rem;
        padding: 0 0;
    }
    .footer-upper-1 h4,
    .footer-upper-3 h4 {
        font-size: 1.6rem;
        text-align: center;
    }.footer-upper-3-wrapper>a>i {
        font-size: 2rem;
    }
    .footer-upper-3-wrapper {
        gap: 1rem;
    }
}


@media (max-width:350px) {


    .footer-upper {
        align-items: flex-start;
        padding: 4rem 2rem;
        row-gap: 1rem;
    }

    .footer-upper-3,
    .footer-upper-1 {
        row-gap: 0;
    }

    .footer-upper-2 {
        max-width: 150px;
        align-self: center;
    }

    .footer-upper-3-wrapper>a>i {
        font-size: 2rem;
        margin-top: 0.5rem;
    }

    .footer-lower i {
        font-size: 1.3rem;
        width: 30px;
        height: 30px;
    }

    .footer h3 {
        font-size: 2.3rem;
    }

    .footer-1 p,
    .footer ul li {
        font-size: 1.3rem;
    }

    .footer-bottom-2 p {
        margin-left: 3rem;
        text-align: center;
    }
}